/.ddev/*
!/.ddev/config.yaml
/vendor/
/web/core/
/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/web/sites/default/files/
/web/sites/default/settings.ddev.php
/web/sites/default/services.yml
/review-packet/evidence/
/.editorconfig
/.gitattributes
/recipes/
/web/*
!/web/modules/
/web/modules/*
!/web/modules/custom/
/web/modules/custom/*
!/web/modules/custom/quality_smoke/
!/web/modules/custom/quality_smoke/**
!/web/themes/
/web/themes/*
!/web/themes/custom/
/web/themes/custom/*
!/web/themes/custom/quality_smoke_base/
!/web/themes/custom/quality_smoke_base/**
!/web/themes/custom/quality_smoke_child/
!/web/themes/custom/quality_smoke_child/**
!/web/sites/
/web/sites/*
!/web/sites/default/
/web/sites/default/*
!/web/sites/default/settings.php
